#account-main{
    width: 85%;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 2em;
    height: max-content;
}

.account-container{
    width: 50%;
    height: 320px;
    background-color: #bcbcbc;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left:  auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    transition: all 0.3s ease;
}


.account-container:hover{
    height: 320px;
    background-color: #cecece;

}

.account-container:hover .account p{
    transition: all 0.3s ease;
    opacity: 1;
    font-size: 22px;

}

.trans-container{
    width: 100%;
    height: max-content;
    background-color: #bcbcbc;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    transition: all 0.3s ease;
}

.trans-container:hover{
    background-color: #cecece;

}

.trans-container:hover .transaction p{
    transition: all 0.3s ease;
    opacity: 1;
    font-size: 22px;
}

.trans-content-wrapper{
    height: max-content;
    background-color: #ece9e9;
    display: flex;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.prod-poster{
    padding: .5em;
    height: 300px; 
    width: 216px;
}

.trans-info {
    padding: .5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.book-ref{
    padding: .2em;
    height: 40px;
    font-size: 22px;
    align-items: center;
    color: #371545;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.trans-content{
    padding: .2em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch; 
}

.trans-content-more{
    padding: .2em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch; 
}

.prod-details{
    padding: .2em;
    width: 350px;
    margin-right: 10px;
    flex-grow: 1;
}

.trans-details{
    flex-grow: 2;
    text-align: end;
    padding-right: 30px;
}

.ticket-details{
    flex-grow: 3;
}

.ticket-seats{
    width: 350px;
    flex-grow: 1;
}

.ticket-price{
    flex-grow: 2;
}

.account-title{
    font-size: 30px;

}


.account-content .account-row p {
    width: 45%;
    margin: 0;
}

.account-row{
    display: flex;
}

.account-nav{
    text-align: center;
}

.user-details-nav, .trans-nav{
    width: fit-content;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}


.user-details-nav:hover, .trans-nav:hover{
    color: rgb(118, 118, 118);
    font-size: 16px;
    cursor: pointer;
}

.vl {
    width: fit-content;
    margin: 0;
    display: inline-block;
    display: inline-block;
    border-left: 2px solid rgb(75, 75, 75);
    height: 30px;
  }