/* Full-width input fields */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

form{
  background-color:#371545;
  height: max-content;
  text-align: center;
  margin: 16px;
}

form p{
  padding: 16px;
}

button:hover {
  opacity: 0.8;
}

.submit-btn{
  width: 20vw;
}
  
.login-psw {
  float: right;
}

.login-svg{
  height: 7vh;
  animation-name: changeFilter;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.register-svg{
  height: 7vh;
  animation-name: changeFilter;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

@keyframes changeFilter {
  from {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(111%) contrast(105%);
    
  }
  to {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
    
  }
}

.modal-register{
  margin: 5px 18px;
  color: #c7c7c7;
}

#switch p{
  margin: 5px 18px;
  cursor: pointer;
  color: #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  font-size: 14px;
}

#switch p:hover{
  margin: 5px 16px;
  cursor: pointer;
  color: #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;
  padding-top: 100px; /* make it stay in center of page */
  /* background-color: #c7c7c7; */
  background-color: rgba(0, 0, 0, 0.5);
  
}
  
.modal-content {
  border-radius: 4px;
  background-color: #371545;
  color: #c7c7c7;
  margin: 60px auto;
  border: 1px solid #371545;
  width: 30%; /* Could be more or less, depending on screen size */
  height: max-content;
}
  
.modal-container {
  padding: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.modal-container label{
  float: left;
}

.modal-footer {
  padding: 8px 16px;
  background-color:#371545;
  text-align: center;
}

.close-btn {
  float: right; 
  color: #c7c7c7;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: #f44336;
  cursor: pointer;
}

.animate-in {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.login-tab{
  width: 12vw;
  height: 5vw;
  display: inline-block;
  text-align: center;
  border: 1px solid #371545;
  border-radius: 2px;
  
}

.register-tab{
  width: 12vw;
  height: 5vw;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
}

.active-tab{
  background-color:#371545;
}

.non-active-tab{
  background-color:#c7c7c7;
  color: #371545;
  border-color: #c7c7c7;
}

button{
  border-radius: 6px;
  
}
  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}