/* Full-width input fields */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancel-btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
  
.login-psw {
  float: right;
  padding-top: 16px;
}

.modal-register{
  margin: 5px 18px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;
  padding-top: 100px; /* make it stay in center of page */
  /* background-color: #c7c7c7; */
  background-color: rgba(0, 0, 0, 0.3);
}
  
.modal-content {
  background-color: #fefefe;
  margin: 60px auto;
  border: 3px solid #371545;
  width: 45%; /* Could be more or less, depending on screen size */
}
  
.modal-container {
  padding: 16px;
}

.modal-footer {
  padding: 16px;
  background-color:#c7c7c7;
}

.close-btn {
  float: right; 
  color: #371545;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: #f44336;
  cursor: pointer;
}

.animate-in {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}