/* Full-width input fields */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

form{
  background-color:#371545;
  height: 40vh;
}
button:hover {
  opacity: 0.8;
}

.cancel-btn {
  width: 20vw;
  background-color: #f44336;
}

.submit-btn{
  width: 20vw;
}
  
.login-psw {
  float: right;
  padding-top: 8px;
}

.modal-register{
  margin: 5px 18px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100%;
  padding-top: 100px; /* make it stay in center of page */
  /* background-color: #c7c7c7; */
  background-color: rgba(0, 0, 0, 0.5);
  
}
  
.modal-content {
  border-radius: 4px;
  background-color: #c7c7c7;
  color: #c7c7c7;
  margin: 60px auto;
  border: 3px solid #371545;
  width: 45%; /* Could be more or less, depending on screen size */
}
  
.modal-container {
  padding: 16px;
}

.modal-footer {
  padding: 8px 16px;
  background-color:#371545;
  text-align: center;
}

.close-btn {
  float: right; 
  color: #371545;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: #f44336;
  cursor: pointer;
}

.animate-in {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.login-tab{
  width: 15vw;
  display: inline-block;
  margin-top: 10px;
  border-radius: 6px;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
}

.register-tab{
  width: 15vw;
  display: inline-block;
  margin-top: 10px;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
}

.active-tab{
  background-color:#371545;
}

.non-active-tab{
  background-color:#c7c7c7;
  color: #371545;
  border-color: #371545;
}

button{
  border-radius: 6px;
  
}
  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}