/* Header ========================================================================== */

header{
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    color: #2c2c2c;
    position: fixed;
    top: 0px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #371545;
    color: #FFFFFF;
    position: fixed;
    padding: 15px 85px;
    transition: 0.5s;
}

.hover:hover{
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    from {
      top: -60px;
    }
    to {
      top: 0px;
    }
  }


#logo {
    /* float: left; */
    font-size: 3rem;
    padding: 5px;
}

#account-dropdown{
    position: relative;
    text-align: end;
    align-self: end;
    display: grid;
}


li{
    list-style: none;
}

#login{
    list-style: none;
    font-size: 2.5ex;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#ffbb00;
    text-transform: uppercase;
}

#login:hover{
    color: #4e3900;
    cursor: pointer;
}


#login-user{
    list-style: none;
    width: 300px;
    float: right;
    font-size: 2.5ex;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#ffbb00;
    text-transform: uppercase;
}

#login-user:hover{
    cursor: pointer;
}


#login-user:hover + ul > #my-account,
#login-user:hover + ul > #logout{
    display: block;
    animation-name: slideDown2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes slideDown2 {
    from {
      top: 0px;
    }
    to {
      top: 100px;
    }
  }

#my-account{
    list-style: none;
    font-size: 2.5ex;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#c2c2c2;
}

#my-account:hover{
    display: block;
    cursor: pointer;
    color: #371545;
}

#my-account:hover ~ #logout{
    display: block;
    cursor: pointer;
}

#logout{
    list-style: none;
    font-size: 2.5ex;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#c2c2c2;
}

#logout:hover{
    display: block;
    cursor: pointer;
    color: #371545;
}


#logout:hover + #my-account{
    display: block;
    cursor: pointer;
}

nav {
    height: 60px;
    width: 80vw;
    top: 0;
    /* margin:   0 20%; */
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

nav li {
    margin: 0;
    height: 100%;
    margin-top: 10px;
    display: inline-block;
    margin-left: 25px;
}

nav a {
    /* color: #ffbb00; */
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    /* font-size: 18px; */
    font-size: 2.5ex;
    font-weight: 800;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;

    background: linear-gradient(to right, #e1bcf0, #e1bcf0 50%, #F5F5F5 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

nav a:hover {
    /* color: #F5F5F5; */
    cursor: pointer;
    background-position: 0 0;
}