/* Header ========================================================================== */

header{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #2c2c2c;
    position: fixed;
    top: 0px;
}

.navbar {
    top: 40px; /* so it sits below the header */
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #371545;
    color: #FFFFFF;
    position: fixed;
}

#logo {
    /* float: left; */
    font-size: 3rem;
    padding: 20px;
}

#login{
    /* float: right; */
    font-size: 2.5ex;
    padding: 10px 20px;
}

#login:hover{
    background-color:#c399d3;
    color: #371545;
    border-radius: 5px;
    /* background-blend-mode: navbar; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav {
    height: 60px;
    width: 60%;
    top: 0;
    /* margin:   0 20%; */
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

nav li {
    margin: 0;
    height: 100%;
    margin-top: 10px;
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/*background: radial-gradient(circle,rgb(255,255,255,0.9), rgba(55, 21, 69, 0.089)); */
nav li:hover {
    background-color:#c399d3;
    border-radius: 5px;
    /* background-blend-mode: navbar; */
    cursor: pointer;
}

nav li:hover > a {
    color: #371545;
}

nav li:hover::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    padding-top: 3px;
    background-color: #ffffff;
}