
/* arranges each show-container div below one another */
.shows-main{
    /* width: 100%; */
    /* height: max-content;*/
    margin: 40px 40px; /*cos page can only start after the nav */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch; /*default is stretch, fills all space available
    /* overflow: auto; */
}

.shows-filter{
    
}

/* contains */
.prod-container { 
    background: #e1bcf0;
    border-radius: 5px;
    margin: 10px 0;
    height: 300px; 
    display: flex;
}

/* .show-container div {
    padding: .5em; /* this gives every div container under show-container the same padding */
    /* add font css here?????
} */

.prod-poster{
    /* background: #ffbb00; */
    /* margin: 10px 0; */
    padding: .5em;
    height: 300px; /* so that the poster sits nicely inside it */
    width: 216px;
}

.prod-poster:hover{
    cursor: pointer;
}

.prod-info {
    /* background: #ffbb00; */
    padding: .5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.prod-name {
    padding: .2em;
    /* background: lightblue; */
    height: 50px;
    font-size: 30px;
    align-items: center;
    color: #371545;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.prod-details{
    padding: .2em;
    flex-grow: 1;
    /* background: steelblue; */
    display: flex;
    flex-direction: row;
    align-items: stretch; /*default is stretch, fills all space available*/
}

.prod-blurb{
    padding: .2em;
    width: 500px;
    margin-right: 10px;
    flex-grow: 1;
    /* background: whitesmoke; */
}

.prod-dates{
    flex-grow: 2;
    /* background: pink; */
}

#view-more{
    color: white;
    cursor: pointer;
    background-color: lightseagreen;
    border-radius: 8px;
    padding: 5px;
    font-weight:700;
}

#view-more:hover{
    color: #0d4e4b;
}

/* CSS FOR SHOW DETAILS */
#shows-return {
    background-color:#419aaa;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
     margin-right: 10px ;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
    font-family: Helvetica, sans-serif;
	font-size:15px;
	font-weight:700;
}

#shows-return:hover {
    color: #102225;
}

#show-details{
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    border-radius: 5px;
    height: 100px;
    /* display: flex; */
}

#show-template{
    background-color: rgb(223, 223, 223);
}

.show-name{
    /* height: 50px; */
    text-align: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    color: #371545;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

.show-blurb{
    text-align: center;
    align-items: center;
    color: #000000;
    flex-grow: 2;
    width: 800px;
}

.show-dates{
   /* flex-grow: 3; */
}

/* .dates{
    flex-grow: 1;
} */

.top-box{
    width: 100px;
    background-color: lightskyblue;
}
/* .top-box:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0.5em;
    right: 0.5em;
    background-color: lime;
    border-bottom: 1px solid rgb(233, 233, 233);
    border-radius: 50%;
} */

.bottom-box{
    width: 100px;
    background-color: lightslategrey;
}