
.svg_center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.tstroke_1{
    stroke-dasharray: 100;
    stroke: #371545;
    fill: none;
    stroke-miterlimit: 20;
    stroke-width: 5;
    animation: draw1 2s infinite;
    
}

/*This doesnt work*/
.tstroke_2{
    fill: #371545;
    animation-name: draw2;
    animation-duration: 2s;
    animation-delay: 0.25s;
}

@keyframes draw1 {
    from {
      stroke-dashoffset: 0
    }
    to {
      stroke-dashoffset: 200;
    }
  }

@keyframes draw2 {
    from {
      height: 2%
    }
    to {
      height: 125px;
    }
  }

.logo_text{
    fill: #371545;
    animation: textFade 4s;
    opacity: 0;
}

@keyframes textFade {
    60%  { opacity: 1; }
    85%  { transform: translate(0, -10px); }

  }