
html {
  box-sizing: border-box;
  height: max-content;
  
}
  
*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}
  
  
  
/* FONTS ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  background-color: #F5F5F5;
  height:100%;
  
}

  
/* Homepage Container ========================================================================== */

.container {
  width: 85%;
  margin: 0 auto;

}

.content_container {
  margin: 0 auto;
  padding-top: 2em;

}

object{
  width: 100%;
  height: 100vh;
  align-self: center;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: #0c0;
  font-weight: bold;
}

.active{
  display: inline;
}

.active-block{
  display: block;
}

.transitioning {
  display: inline;
  transition: opacity 0.25s;
}

.to-transition {
  display: none;
}

.none_active{
  display: none;
}

.non-active{
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;       
}

.overlay{
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index:1001;
  transition: opacity 1s;
}

.overlay-fade-out{
  animation: overlayFade 1s;
}

@keyframes overlayFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.index-main{
    overflow: hidden;
}

.main{
  overflow: scroll;
  height: max-content;
  
}
/* Positions ========================================================================== */
.float-left{
  float: left;
}

.float-right{
  float: right;
  right: 0;
}

.center{
  text-align: center;
}

/* Paddings ========================================================================== */
.pad5 {
  padding: 5px;
}

.pad10 {
  padding: 10px;
}

.pad15 {
  padding: 15px;
}


/* Font size ========================================================================== */
.font18 {
  font-size: 18px;
}


/* Custom Scrollbar ========================================================================== */
::-webkit-scrollbar { /* width */
  width: 15px; 
}

::-webkit-scrollbar-track { /* Track */
  /* box-shadow: inset 0 0 5px grey;  */
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb { /* Handle */
  background: #ffbb00;
  -webkit-border-radius: 10px;
  height: 20px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: #ebac00; 
}
  

/* Footer ========================================================================== */
/* I kinda dunno where else to put this */
footer { 
  display: flex;
  position: relative;
  width: 100%; 
  bottom: 10px; /*25px*/
  height: 75px; /*60px*/
  background-color: #000000cc; 
  color: #fff; 
  font-size:14px;
  margin: auto;
  /* align-items: normal; */
}

.social-icons{
  height: 30px;
}

#swirl-left{
  transform: scaleX(-1);
}

.footer-box .footer-links:link { /* unvisited link */
  color: #ffee00;
  text-decoration: none;
}

.footer-box .footer-links:hover { /* mouse over link */
  color: #e1bcf0;
}

.swirl{
  height: 51px;
  opacity: 0.8;
}