
html {
  box-sizing: border-box;
  min-height:100%;
}
  
*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}
  
  
  
/* FONTS ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  background-color: #F5F5F5;
  height:100%;
}

  
/* Homepage Container ========================================================================== */

.container {
  width: 85%;
  margin: 0 auto;

}

.content_container {
  margin: 0 auto;
  padding-top: 7em;

}

object{
  width: 100%;
  height:100vh;
  align-self: center;
}

.active{
  display: inline;
}

.none_active{
  display: none;
}

.overlay{
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index:1001;
}

.overlay_fade_out{
  animation: overlayFade 1s;
}

@keyframes overlayFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

  





  
  