<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Nav</title>

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">TICK.ET</div>
            <div id="login">Register/ Login</div>
            <nav>
                <ul>
                    <li><a href="www.google.com">Home</a></li>
                    <li><a>Shows</a></li>
                </ul>
            </nav>

            
    
        </div>
    </header>
    

</body>

</html>